<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar *ngIf="user">
      <ion-row (click)="goToPrgofile()" menuClose>
        <ion-col col-3>
            <img class="profilePic" src="assets/imgs/default_user.jpg"/>    
        </ion-col>
        <ion-col col-8>
          <h4 class="user-profile">{{user.firstName}}</h4>
          {{user.roleName}}
        </ion-col>
      </ion-row>


    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngIf="user">
      <ion-grid>
        <ion-row menuClose>
          
          <!-- <ion-col>
                <h5 class="greeting">Hi {{user.firstName}}</h5>
                <p class="message" style="margin-top: -9px;">Welcome back</p>
              </ion-col> -->
        </ion-row>
      </ion-grid>
    </div>
    <ion-list>
      <div *ngIf="user">
        <button menuClose ion-item  icon-left *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon name="{{p.icon}}"></ion-icon>
          {{p.title}}
        </button>
      </div>


      <div *ngIf="!user">
        <button menuClose ion-item *ngFor="let p of loginpages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </div>

      <button menuClose ion-item icon-left (click)="signOut()" *ngIf="user">
        <ion-icon name="md-log-out"></ion-icon>
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>